/* SELECTORES 

    1) Selectores Simples
        1.a) Selectores elementales: suelen usarse para un par de cuestiones muy concretas
            1.a.a) Selector universal -> *
            1.a.b) Selector de tipo o de etiqueta -> Nombre de la etiqueta
        1.b) Selectores de atributo
            1.b.a) id -> #id del elemento       Los selectores de id son case sensitive.
            1.b.b) clase -> clase del elemento
            1.b.c) otros atributos -> [atributo]
                                [atributo=valor]
                                [atributo^=valor] para comprobar si el atributo empieza por ese valor
                                [atributo*=valor] para comprobar si el atributo contiene a ese valor
                                [atributo$=valor] para comprobar si el atributo termina con ese valor
                                [atributo|=valor] para el idioma lang

SELECTOR UNIVERSAL: 

*{
    background-color: rgb(161, 53, 53);
}

SELECTOR DE TIPO O ETIQUETA:

h1{
    background-color: lightcyan;
}

p{
    background-color: lightgreen;
}

ul{
    background-color: red;
}

li{
    background-color: blue;
} 

SELECTOR DE ID:
Teniendo, por ejemplo, en index.html: <h1 id="title"> Conectar HTML y CSS</h1>, hago aquí:
#title{
    background-color: lightgreen;
}

SELECTOR DE CLASE:
Teniendo, por ejemplo, en index.html: <h1 class="title"> Conectar HTML y CSS</h1>, hago aquí:

.title{
    background-color: lightsalmon;
}

.text{
    background-color: limegreen;
}

SELECTOR DE ATRIBUTO:

[href]{
    background-color: mediumorchid;
}

[href="https://google.com"]{
    background-color: mediumvioletred;
}

[href^="color"]{ /* se pueden omitir las comillas si es una sola palabra 
    background-color: orange;
}

[href*="modo"]{ 
    background-color: brown;
}

[href$="rojo"]{ 
    background-color: red;
}

[lang|="en"]{ // funciona para 
    background-color: magenta;
}

*/ 

/* Ctrl + }   sirve para crear un comentario de bloque */